@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

.header_row{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
}

.header_bottom_line{
    margin: 10px auto 0;
    width: 1240px;
    height: 1px;
    background-color: #245D3033;
}

.header_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sahifalar ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.sahifalar ul li:hover{
   color: #245D30;
   cursor: pointer;
}

.home_menu{
    text-decoration: none;
    color: black;
}

.input_cart{
    display: flex;
    align-items: center;
    gap: 16px;
}

.search_inp{
    width: 278px;
    height: 38px;
    border-radius: 62px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: #F0F0F0;
    border: none;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
}

.cart_icon{
    width: 24px;
    height: 24px;
}

.hero_section{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1240px;
    margin: 147px auto 0;
}

.left{
    width: 596px;
    height: 458px;
}

.title{
    font-style: Bold;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0%;
    vertical-align: middle;
    font-weight: 700;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #00000099;
    margin-top: 12px;
}

.button{
    width: 210px;
    height: 52px;
    background-color: #245D30;
    border-radius: 62px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-top: 28px;
    border: none;
}

.percent_wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 46px;
}

.percent_line{
    width: 1px;
    height: 69px;
    background-color: #0000001A;
}

.top_percent{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.percent_plus{
    color: #245D30;
}

.bottom_percent{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 22px;
    color: #00000099;
}

.products_categories{
    margin: 155px auto 0;
    width: 1340px;
}

.product_title{
    text-align: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
}

.buton_wrapper{
    display: flex;
    align-items: center;
    gap: 67px;
}

.categories_button{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    margin-top: 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.categories_button:hover{
    border: 1px solid;
    cursor: pointer;
}

.categories_button_2:hover{
    border: 1px solid;
    cursor: pointer;
}

.categories_button_2{
    width: 310px;
    height: 50px;
    border-radius: 30px;
    margin-top: 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.product{
    width: 295px;
    height: 408px;
    margin-top: 70px;
}

.image_product{
    width: 295px;
    height: 298px;
    background-color: #e9f8ec;
    border-radius: 15px;
}

.product_name{
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    margin-top: 17px;
}

.product_icon_price{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_price{
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
}

.product_icon{
    width: 26px;
    height: 26px;
}

.products_wrap{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product_wrapper{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.raiting{
    margin-top: 10px;
}

.see_all_btn{
    width: 260px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #245D30;
    background-color: white;
    border-radius: 62px;
    margin: 70px auto 0;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:  #245D30;
}

.see_all_btn:hover{
    background-color: #245D30;
    color: white;
    border: none;
    cursor: pointer;
}

.coment_section{
    width: 869px;
    margin: 27px auto 0;
}

.coment_title{
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -1.34px;
    text-align: center;
    vertical-align: middle;
    color: #151515;
}

.questions{
    margin-top: 70px;
}

.question{
    width: 772px;
    height: 44px;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin: 12px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.question_title{
    font-size: 15.6px;
    line-height: 24px;
    letter-spacing: -0.13px;
    vertical-align: middle;
    font-weight: 600;
    color: #151515;
}

.question_plus{
    font-size: 35px;
}

.footer{
    margin: 130px auto 0;
    background-color: #245D30;
    height: 499px;
}

.logo_wrap{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 57px;
}

ul{
    list-style: none;
}

.ul_wrapper{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer_title{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 26px;
}

.footer_l{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: #FFFFFF99;
    margin-top: 20px;
}

.first_ul{
    margin-top: 78px;
}

.footer_bootom_sec{
    width: 1240px;
    height: 70px;
    border-top: 1px solid #0000001A;
    margin: 154px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #FFFFFF99;
}

.product_image{
    width: 295px;
    height: 298px;
}

.admin_outlet{
    width: 80%;
}

.admin_sidebar{
    width: 20%;
}

.admin{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.sidebar{
    border: 1px solid;
    text-align: center;
    padding: 10px;
}

.admin_panel{
    padding: 5px;
    border: 1px solid;
}

.link_buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin_btn{
    width: 350px;
    height: 50px;
    border-radius: 12px;
    background-color: #245D30;
    color: white;
    border: none;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.admin_btn:hover{
    cursor: pointer;
    background-color: #245d30ee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    font-size: 14px;
  }
  
  th, td {
    padding: 10px 14px;
    text-align: left;
  }

  td{
    border: 1px solid;
    font-size: 17px;
  }
  
thead {
    background-color: #000000;
    color: white;
  }
  
img {
    border-radius: 4px;
  }
  
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    margin-right: 5px;
}
  
.btn-danger {
    background-color: #dc3545;
    color: white;
}
  
.btn-danger:hover {
    background-color: #c82333;
}
  
.btn-warning {
    background-color: #ffc107;
  color: black;
}
  
.btn-warning:hover {
  background-color: #e0a800;
}

.btn-succes{
    width: 100%;
    background-color: #245D30;
    color: white;
    padding: 10px;
    font-size: 17px;
    height: 40px;
}

.btn-primary{
    background-color: #007bff;
    color: white;
    padding: 15px;
    font-size: 15px;
}

.form-control{
    width: 385px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #828282;
    color: #F9F9F9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}