@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

.header_row{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
}

.header_bottom_line{
    margin: 10px auto 0;
    width: 1240px;
    height: 1px;
    background-color: #245D3033;
}

.header_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sahifalar ul{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.sahifalar ul li:hover{
   color: #245D30;
   cursor: pointer;
}

.input_cart{
    display: flex;
    align-items: center;
    gap: 16px;
}

.search_inp{
    width: 278px;
    height: 38px;
    border-radius: 62px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: #F0F0F0;
    border: none;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 400;
}

.cart_icon{
    width: 24px;
    height: 24px;
}